@{
        Layout = null;
        List<string[]> pizza = new()
        {
            new[]  { "Margherita", "La classica ", "https://www.google.it/imgres?imgurl=https%3A%2F%2Fwww.giallozafferano.it%2Fimages%2F175-17528%2FPizza-Margherita_650x433_wm.jpg&imgrefurl=https%3A%2F%2Fricette.giallozafferano.it%2FPizza-Margherita.html&tbnid=LmzZVur1RjNa_M&vet=12ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg..i&docid=II0CCNnCfNeGkM&w=650&h=433&q=margherita%20pizza&ved=2ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg", "4,00" },
            new[]  { "Diavola", "il Sud", "https://www.google.it/imgres?imgurl=https%3A%2F%2Fwww.giallozafferano.it%2Fimages%2F175-17528%2FPizza-Margherita_650x433_wm.jpg&imgrefurl=https%3A%2F%2Fricette.giallozafferano.it%2FPizza-Margherita.html&tbnid=LmzZVur1RjNa_M&vet=12ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg..i&docid=II0CCNnCfNeGkM&w=650&h=433&q=margherita%20pizza&ved=2ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg", "5,00" },
            new[]  { "Boscaiola", "il Nord ", "https://www.google.it/imgres?imgurl=https%3A%2F%2Fwww.giallozafferano.it%2Fimages%2F175-17528%2FPizza-Margherita_650x433_wm.jpg&imgrefurl=https%3A%2F%2Fricette.giallozafferano.it%2FPizza-Margherita.html&tbnid=LmzZVur1RjNa_M&vet=12ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg..i&docid=II0CCNnCfNeGkM&w=650&h=433&q=margherita%20pizza&ved=2ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg", "6,00" },
            new[]  { "La casa", "Pizza della casa", "https://www.google.it/imgres?imgurl=https%3A%2F%2Fwww.giallozafferano.it%2Fimages%2F175-17528%2FPizza-Margherita_650x433_wm.jpg&imgrefurl=https%3A%2F%2Fricette.giallozafferano.it%2FPizza-Margherita.html&tbnid=LmzZVur1RjNa_M&vet=12ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg..i&docid=II0CCNnCfNeGkM&w=650&h=433&q=margherita%20pizza&ved=2ahUKEwjr96LTlMT6AhVS66QKHQSMCLAQMygJegUIARCZAg", "8,50" },
        };

    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pizzeria Statica</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>

        <div style="display:flex;">
            <main style="margin:auto";>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string[] e in pizza)
                            {
                                <tr >
                                    <td>@e[0]</td>
                                    <td>@e[1]</td>
                                    <td><img src=@e[2]/></td>
                                    <td>@e[3] €</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </main>
        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    </body>
    </html>

